---

- name: SSH Create Host Sample
  hosts: local
  gather_facts: False

  tasks:

  - name: include IP list
    include_vars: "{{ip_list_name}}.yml"

  - name: Add host to group soe_test
    add_host:
      name: '{{item}}'
      groups: soe_test
    loop: "{{ip_list}}"


- name: SSH Auto Fix Sample
  hosts: soe_test
  become: true
  gather_facts: False

  vars_files:
    # 讀取 ssh 修復資訊檔案
    - fix_config/ssh_fix_settings.yml

  tasks:

  - name: Backup sshd_config file
    command: cp -rf /etc/ssh/sshd_config /tmp/sshd_config.bak
    tags: 
      - ssh_cipher_fix
      - ssh_kex_fix
      - ssh_mac_fix

  # SSH Cipher 
  #-------------------------------------------------------------------------
  - name: Get SSH Cipher Current Setting
    command: grep -w '^[ \t]*Ciphers' /etc/ssh/sshd_config
    register: current_ssh_cipher
    ignore_errors: True
    tags:
      - ssh_cipher_fix

  - name: Fix SSH Cipher Exists Config
    lineinfile:
      path: /etc/ssh/sshd_config
      regexp: '^[ \t]*Ciphers'
      line: "{{sshd_cipher_fix_content}}"
      create: no
    when: current_ssh_cipher.stdout |length > 0
    notify: Restart Service
    tags:
      - ssh_cipher_fix

  - name: Append SSH Cipher Config
    lineinfile:
      path: /etc/ssh/sshd_config
      line: "{{sshd_cipher_fix_content}}"
    when: current_ssh_cipher.stdout |length == 0
    notify: Restart Service
    tags:
      - ssh_cipher_fix


  # SSH KexAlgorithm
  #-------------------------------------------------------------------------
  - name: Get SSH Kex Current Setting
    command: grep -w '^[ \t]*\(KexAlgorithms\|kexalgorithms\)' /etc/ssh/sshd_config
    register: current_ssh_kex
    ignore_errors: True
    tags:
      - ssh_kex_fix

  - name: Fix SSH Kex Exists Config
    lineinfile:
      path: /etc/ssh/sshd_config
      regexp: '^[ \t]*KexAlgorithms'
      line: "{{sshd_kex_fix_content}}"
      create: no
    when: current_ssh_kex.stdout |length > 0
    notify: Restart Service
    tags:
      - ssh_kex_fix

  - name: Fix SSH Kex Exists Config1
    lineinfile:
      path: /etc/ssh/sshd_config
      regexp: '^[ \t]*kexalgorithms'
      line: "{{sshd_kex_fix_content}}"
      create: no
    when: current_ssh_kex.stdout |length > 0
    notify: Restart Service
    tags:
      - ssh_kex_fix


  - name: Append SSH Kex Config
    lineinfile:
      path: /etc/ssh/sshd_config
      line: "{{sshd_kex_fix_content}}"
    when: current_ssh_kex.stdout |length == 0
    notify: Restart Service
    tags:
      - ssh_kex_fix
      

  - name: Get SSH Kex Current Setting in /etc/ssh/ssh_config
    command: grep -w '^[ \t]*KexAlgorithms' /etc/ssh/ssh_config
    register: current_ssh_kex
    ignore_errors: True
    tags:
      - ssh_kex_fix

  - name: Fix SSH Kex Exists Config in /etc/ssh/ssh_config
    lineinfile:
      path: /etc/ssh/ssh_config
      regexp: '^[ \t]*KexAlgorithms'
      line: "{{ssh_kex_fix_content}}"
      create: no
    when: current_ssh_kex.stdout |length > 0
    notify: Restart Service
    tags:
      - ssh_kex_fix

  - name: Append SSH Kex Config in /etc/ssh/ssh_config
    lineinfile:
      path: /etc/ssh/ssh_config
      line: "{{ssh_kex_fix_content}}"
    when: current_ssh_kex.stdout |length == 0
    notify: Restart Service
    tags:
      - ssh_kex_fix      
 
 
  # SSH MAC Algorithm
  #-------------------------------------------------------------------------
  - name: Get SSH MAC Current Setting
    command: grep -w '^[ \t]*MACs' /etc/ssh/sshd_config
    register: current_ssh_macs
    ignore_errors: True
    tags:
      - ssh_mac_fix

  - name: Fix SSH MACs Exists Config
    lineinfile:
      path: /etc/ssh/sshd_config
      regexp: '^[ \t]*MACs'
      line: "{{ssh_macs_fix_content}}"
      create: no
    when: current_ssh_macs.stdout |length > 0
    notify: Restart Service
    tags:
      - ssh_mac_fix

  - name: Append SSH Kex Config
    lineinfile:
      path: /etc/ssh/sshd_config
      line: "{{ssh_macs_fix_content}}"
    when: current_ssh_macs.stdout |length == 0
    notify: Restart Service
    tags:
      - ssh_mac_fix



  - name: Check SSH Config Correct
    command: sshd -t
    ignore_errors: True
    changed_when: True
    register: command_result
    tags:
      - ssh_cipher_fix
      - ssh_kex_fix
      - ssh_mac_fix
                        

  - name: Restore SSH Config
    command: cp -rf /tmp/sshd_config.bak /etc/ssh/sshd_config
    when: command_result.rc != 0
    tags:
      - ssh_cipher_fix
      - ssh_kex_fix
      - ssh_mac_fix
    notify: 
      - Restart Service
      - Throw Fail


  handlers:

  - name: Restart Service
    systemd:
      name: sshd
      state: restarted
      daemon_reload: yes

  - name: Throw Fail
    fail:
      msg: "Fix Config Fail"
    when: True

  
